<div class="container"
  fxLayout="column"
  fxLayoutGap="10px">

  <div fxFlex>
    <div>
      <h3>Vege Rates</h3>
      <hr>
    </div>  
  </div>


  <div fxFlex>
    <mat-grid-list cols="2" rowHeight="200px">
      <mat-grid-tile *ngFor="let vege of veges" [routerLink]="['/cmt',vege.id]">
        <img height="150px" src={{vege.image}} alt={{vege.name}}>
        <mat-grid-tile-footer>
          <h1 mat-line>{{vege.name | uppercase}}</h1>
          <p mat-line>
           <span>{{vege.rate}}</span>
          </p>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
